<header class="px-28 flex items-center w-full justify-between h-[70px]">
    <div class="flex flex-grow basis-0">
        <img src="/logo/paypal.svg" alt="Logo de PayPal" class="h-[40px] w-auto">
    </div>
    <nav class="flex flex-grow justify-center">
        <ul class="text-sm flex space-x-12 font-bold text-[#5f6161]">
            <li><a href="#">PERSONAL</a></li>
            <li><a href="#">EMPRESAS</a></li>
        </ul>
    </nav>
    <nav class="flex flex-grow justify-end basis-0">
        <ul class="text-[12px] flex space-x-[4px]">
            <li><a href="#" class="border-1 rounded-3xl text-[#0070ba] font-bold px-4 py-2.5 border-blue-800">Iniciar Sesión</a></li>
            <li><a href="#" class="border-1 rounded-3xl bg-[#0070ba] text-white font-bold px-4 py-2.5 border-[#75b1da]">Abrir Cuenta</a></li>
        </ul>
    </nav>
</header>
