---
import "../styles/global.css";
const title = "Landing PayPal | NicoDev";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap"
			rel="stylesheet"
		/>
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
